@using TicketDominator.Models
@{
    bool userIsCheckingOut = ViewBag.AmCheckingOut == null ? false : true;
    var homeLink = User.IsInRole("Admin") ? Url.Action("Index", "AdminTickets", "Admin") : Url.Action("Index", "Tickets", "Tickets");
 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ticket Dominator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <a href="@homeLink">
            <div class="jumbotron jumbotron-fluid bg-warning text-center">
                <div class="container">
                    <h1 class="display-4 display-sm-3 md-display-2">Ticket Dominator</h1>

                    <p class="lead">Tagline here</p>
                </div>
            </div>
        </a>
    </header>

    <nav class="navbar navbar-toggleable-sm sticky-top py-0">
        <div class="container p-0 m-0">
            <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="mainNav" aria-expanded="false">
                <div class="navbar-nav mx-auto text-center">

                    <a class="nav-item nav-link px-3" href="@homeLink">Home</a>

                    @if (!User.IsInRole("Admin")) {

                        @Html.ActionLink("Cart", "Index", "ShoppingCart", new { area = "" }, new { @class = "nav-item nav-link px-3" })
                        if (Request.IsAuthenticated) {
                            @Html.ActionLink("Orders", "Index", "Order", new { area = "" }, new { @class = "nav-item nav-link px-3" })
                        } 
                    }

                    @Html.Partial("_LoginPartial")

                </div>
            </div>
        </div>
    </nav>

    <main class="container my-4">
        @RenderBody()
        <hr />
        
    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year - Ticket Dominator</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/jqueryajax");
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('.datetimepicker').datetimepicker();
        });
    </script>
</body>
</html>
